[DEFAULT]
debug = False
level=WARN
log=/var/log/yerba/yerba.log

[yerba]
port = 1234
logging = /etc/yerba/logging.conf

[workqueue]
project = yerba
log = /var/log/yerba/workqueue.log
port = -1
catalog_server = localhost
catalog_port = 1024
